site_name: Monitoria
site_description: Documentação técnica do Sistema de Seleção de Monitoria
site_author: UCSal

theme:
  name: material
  language: pt-BR

  palette:
    - scheme: default
      primary: indigo
      accent: blue
      toggle:
        icon: material/weather-night
        name: Modo escuro

    - scheme: slate
      primary: indigo
      accent: blue
      toggle:
        icon: material/weather-sunny
        name: Modo claro

  font:
    text: Inter
    code: JetBrains Mono

  features:
    - navigation.tabs
    - navigation.top
    - navigation.sections
    - navigation.expand
    - toc.integrate
    - search.suggest
    - search.highlight
    - content.code.copy
    - navigation.instant
    - navigation.instant.progress
    - navigation.tracking

    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.top
    - navigation.footer

    - search.highlight
    - search.suggest
    - search.share

    - content.code.copy
    - content.code.annotate
    - content.tabs.link

    - toc.follow

plugins:
  - search
  - neoteroi.mkdocsoad:
      use_pymdownx: true

markdown_extensions:
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.superfences
  - pymdownx.highlight
  - pymdownx.tabbed
  - pymdownx.mark
  - pymdownx.emoji
  - pymdownx.betterem
  - pymdownx.details
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.keys
  - pymdownx.magiclink

  # Mermaid
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid

  - pymdownx.tabbed:
      alternate_style: true

  - attr_list
  - md_in_html
  - admonition
  - pymdownx.emoji:
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

nav:
  - Início: index.md

  - Requisitos: requisitos/index.md

  - Padrões:
      - Visão geral: padroes/index.md
      - Fluxo de Git: padroes/git.md

  - Arquitetura: arquitetura/overview.md
  - Backend:
      - Visão Geral: backend/visao-geral.md

  - API:
      - API v1: api/v1.md

  - ADRs:
      - Visão Geral: adr/index.md
      - DDR-001 - Estilo arquitetural: adr/adr-001.md
      - DDR-002 - Estilo de comunicação: adr/adr-002.md
      - DDR-003 - Banco de dados principal: adr/adr-003.md
      - DDR-004 - Autenticação: adr/adr-004.md
      - DDR-005 - Controle de acesso: adr/adr-005.md
      - DDR-006 - Conteinerização: adr/adr-006.md
      - DDR-007 - Geração de certificados: adr/adr-007.md
      - DDR-008 - Armazenamento de arquivos: adr/adr-008.md
      - DDR-009 - Observabilidade: adr/adr-009.md
      - DDR-010 - Estratégia de testes: adr/adr-010.md
      - DDR-011 - Relatórios: adr/adr-011.md
      - DDR-012 - Versionamento de API: adr/adr-012.md
      - DDR-013 - Segurança de Senhas: adr/adr-013.md
      - DDR-014 - Evolução arquitetural: adr/adr-014.md
      - DDR-015 - Recuperação de senhas: adr/adr-015.md
      - DDR-016 - Politica de senha: adr/adr-016.md
      - DDR-017 - Mensageria e filas: adr/adr-017.md
