name: Deploy MkDocs

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install MkDocs + Material plugins
        run: |
          pip install mkdocs
          pip install mkdocs-material
          pip install mkdocs-material-extensions
          pip install neoteroi-mkdocs-oas

      - name: Deploy MkDocs
        run: mkdocs gh-deploy --force
